<!DOCTYPE html>
<html lang="en">
<body>
  <div style="border:1">
  <h1>Join the Pepsi Co team on C3insets.ai?</h1>
  <h4> {{ user.firstName }} {{user.lastName }} invited you</h4>
    <p> With our platform, you can provide buyers with transparent carbon emissions insights, 
        showcase your journey in reducing emissions, and collaboratively engage in carbon abatement projects 
        for a shared mission towards a greener future.
    </p>
    <a href={{url}}><button>Accept Invite</button></a>
  </div>
</body>
</html>
