<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<table style="background-color: #f2f5f8; max-width: 640px; width: 100%; margin: 0 auto; padding: 50px 32px 32px;">
  <tr>
    <td>
      <img
        loading="lazy"
        srcset="
          https://cdn.builder.io/api/v1/image/assets/TEMP/0bd32764b2465b80fba6b4f47a0e7eb5e71788d3f10ae9bb68ec1334efcc9621?apiKey=2750205a01ca49b7852bf44337ca437a&width=100   100w,
          https://cdn.builder.io/api/v1/image/assets/TEMP/0bd32764b2465b80fba6b4f47a0e7eb5e71788d3f10ae9bb68ec1334efcc9621?apiKey=2750205a01ca49b7852bf44337ca437a&width=200   200w,
          https://cdn.builder.io/api/v1/image/assets/TEMP/0bd32764b2465b80fba6b4f47a0e7eb5e71788d3f10ae9bb68ec1334efcc9621?apiKey=2750205a01ca49b7852bf44337ca437a&width=400   400w,
          https://cdn.builder.io/api/v1/image/assets/TEMP/0bd32764b2465b80fba6b4f47a0e7eb5e71788d3f10ae9bb68ec1334efcc9621?apiKey=2750205a01ca49b7852bf44337ca437a&width=800   800w,
          https://cdn.builder.io/api/v1/image/assets/TEMP/0bd32764b2465b80fba6b4f47a0e7eb5e71788d3f10ae9bb68ec1334efcc9621?apiKey=2750205a01ca49b7852bf44337ca437a&width=1200 1200w,
          https://cdn.builder.io/api/v1/image/assets/TEMP/0bd32764b2465b80fba6b4f47a0e7eb5e71788d3f10ae9bb68ec1334efcc9621?apiKey=2750205a01ca49b7852bf44337ca437a&width=1600 1600w,
          https://cdn.builder.io/api/v1/image/assets/TEMP/0bd32764b2465b80fba6b4f47a0e7eb5e71788d3f10ae9bb68ec1334efcc9621?apiKey=2750205a01ca49b7852bf44337ca437a&width=2000 2000w,
          https://cdn.builder.io/api/v1/image/assets/TEMP/0bd32764b2465b80fba6b4f47a0e7eb5e71788d3f10ae9bb68ec1334efcc9621?apiKey=2750205a01ca49b7852bf44337ca437a&
        "
        style="
          aspect-ratio: 4.55;
          object-fit: contain;
          object-position: center;
          width: 177px;
          max-width: 100%;
          margin: 6px 0 0 32px;
        "
      />
    </td>
  </tr>
  <tr>
    <td style="border-radius: 4px 4px 0px 0px; background-color: var(--Background-Default, #fff); margin-top: 24px; font-weight: 600; padding: 32px;">
      <h2 style="color: var(--Slate-700, #334155); text-align: center; font: 20px/140% Inter, sans-serif;">Add your organization to Terralab?</h2>
      <div style="color: var(--Blue-700, #1d4ed8); justify-content: center; align-items: center; border-radius: var(--Border-Radius-rounded-full, 9999px); background-color: var(--Blue-100, #dbeafe); align-self: center; margin-top: 16px; height: 63px; padding: 0 24px; font: 600 12px/133% Inter, sans-serif;">
        <div style="display: flex; justify-content: center; align-items: center; border-radius: 50%; background-color: var(--Blue-100, #dbeafe); width: 48px; height: 48px; margin: 0 auto; font: 14px/150% Inter, sans-serif; font-weight: 600;"> {{ initials }} </div>
      </div>
      <div style="color: var(--Slate-700, #334155); text-align: center; margin-top: 16px; font: 16px/150% Inter, sans-serif;">{{ fullName }} from {{ organizationName }} invited you</div>
      <div style="color: var(--Slate-700, #334155); text-align: center; margin-top: 16px; font: 300 14px/20px Inter, sans-serif;">You’ve been invited to join Terralab Insets.ai. With our platform, you can provide buyers with transparent carbon emissions insights, showcase your journey in reducing emissions, and collaboratively engage in carbon abatement projects for a shared mission towards a greener future.<br /></div>
      <a href={{ url }} style="color: var(--White, #fff); white-space: nowrap; justify-content: center; border-radius: var(--Border-Radius-rounded, 4px); background-color: #2c75d3; align-self: center; margin-top: 16px; padding: 6px 16px; font: 600 14px/143% Inter, sans-serif;">Accept Invite</a>
    </td>
  </tr>
  <tr>
    <td style="border-radius: 0px 0px 4px 4px; background-color: #f7f9fc; padding: 32px;">
      <div style="color: var(--Gray-500, #6b7280); font: 400 14px/143% Inter, sans-serif;">Questions? Email us at support@Terralab</div>
      <div style="background-color: #f7f9fc; margin-top: 16px; height: 16px;"></div>
    </td>
  </tr>
</table>
    
</body>
</html>

