<!DOCTYPE html>
<html lang="en">
<body>
  <div style="border:1">
  <h1>Reset your password</h1>
  <h4> Hi, {{ user.firstName }} {{user.lastName }} </h4>
    <p>We have received a request to reset the password for your account. If you initiated this request, 
    please click the 'Reset Password' button below to proceed</p>
    <p>Thanks,</p> 
    <p>The C3 Team </p>

    <a href={{url}}><button>Reset Password</button></a>
  </div>
</body>
</html>
