<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Account Created</title>
</head>
<body style="background-color: #f1f5f9; margin: 0; padding: 0; width: 100%; height: 100vh; -webkit-text-size-adjust: none; -ms-text-size-adjust: none;">
  <table role="presentation" width="100%" height="100%" border="0" cellspacing="0" cellpadding="0" style="background-color: #f1f5f9; padding: 48px 8px;">
    <tr>
      <td align="center">
        <table role="presentation" width="640" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td style="text-align: left; padding-bottom: 24px; padding-left:24px;">
              <img src="https://diw3xy9w4etxp.cloudfront.net/terralab_logo.png" height="39" width="177"/>
            </td>
          </tr>
          <tr>
            <td align= "center" style="background-color: #ffffff; padding: 32px; border-radius: 0.375rem;">
              <h1 style="color: #374151; font-size: 24px; font-weight: 600; margin: 0 0 24px 0;  text-align: left;">
                Your account has been created
              </h1>
              <p style="color: #374151; font-size: 16px; margin: 0 0 24px 0;  text-align: left;">
                Hi {{ user.firstName }} {{ user.lastName }},<br /><br />
                Your account has been successfully created. You can now log into the Terralab platform.<br /><br />
                Best,<br /><br />
                The Terralab Team
              </p>
              
              <a href="{{ url }}" style="background-color: #2563eb; color: #ffffff; padding: 12px 24px; border-radius: 0.375rem; font-size: 16px; font-weight: 600; text-align: center; text-decoration: none; display: inline-block;">
                Take me to Terralab
              </a>
            </td>
          </tr>
          <tr>
            <td style="background-color: #f9fafb; padding: 32px; text-align: left;">
              <p style="color: #6b7280; font-size: 16px; margin: 0;">
                Questions? Email us at 
                <a href="mailto:support@terralab.ai" style="color: #2563eb; text-decoration: none;">support@terralab.ai</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>
