<!DOCTYPE html>
<html lang="en">
<body>
  <div style="border:1">
  <h1>Your account has been created </h1>
  <h4> Hi, {{ user.firstName }} {{user.lastName }} </h4>
    <p> Your account has been successfully created. You can now log into the C3 platform.</p>
    <p>Best,</p> 
    <p>The C3 Team </p>

    <a href={{url}}><button>Take me to C3</button></a>
  </div>
</body>
</html>
