<!DOCTYPE html>
<html lang="en">
<body>
  <div style="border:1">
  <h1>Welcome to C3insets.ai!</h1>
  <h4> Hi, {{ user.first_name }} {{user.last_name }} </h4>
    <p> We're thrilled to have you with us! If you haven’t already, sign into the platform to:</p>
    <ul>
        <li> Create your organization profile </li>
        <li> Add your facilities and scope emissions </li>
        <li> Invite your suppliers to the platform </li>
    </ul>
    <p>Cheers</p> 
    <p>The C3 Team </p>

    <a href={{url}}><button>Take me to C3</button></a>
  </div>
</body>
</html>
