<!DOCTYPE html>
<html lang="en">
<body>
  <div style="border:1">
  <h1>Please verify your email</h1>
  <h4> Hi, {{ user.first_name }} {{user.last_name }} </h4>
    <p>Please verify your email address by clicking the link below. 
    This ensures your account security and gives you full access to our features.</p>
    <p>Thanks,</p> 
    <p>The C3 Team </p>

    <a href={{url}}><button>Verify your email</button></a>
  </div>
</body>
</html>
